
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^media\.ghschools\.online$ [OR]
RewriteCond %{HTTP_HOST} ^www\.media\.ghschools\.online$
RewriteRule ^/?$ "https\:\/\/media\.ghschools\.online\/" [R=301,L]
