/* For both PC and Mobile */
main .page-section{
    padding: 1.3rem 1rem;
}

main .page-section .container-heading{
    position: relative;
    padding: 0;
    color: var(--bright-text-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 2rem;
    text-align: left;
}

main .page-section .container-heading + a{
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-block;
}

main .page-section.section-one{
    background-color: var(--page-bgcolor-v0);
    padding: 0.5rem;
}

main .page-section.section-bg{
    margin: 0;
    background-color: var(--page-bgcolor-v3);
    padding: 1.5rem 1rem;
}

main .page-section .container-element{
    background-color: var(--page-bgcolor-v1);
    padding: 3rem 4rem;
    /* width: 100%; */
}

main .page-section .container-button{
    padding: 1.1rem 2rem;
    max-width: 180px;
    margin-left: 0;
    font-size: 1.4rem;
    border-radius: 5px;
}

main .page-section .container-element.bordered{
    border: 1px solid #333;
    margin-left: 0.5rem;
    padding: 3rem 4rem;
}

main .page-section.section-one .container-element{
    min-height: 300px;
    height: auto;
    background-color: var(--page-bgcolor-v1);
    padding: 5rem 5.5rem;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(5, 20, 1, 0.75)), url("./assets/images/facilities/ORIENT-0647.jpg");
}

main #departments.page-section .department-wrapper h3{
    font-size: 1.5rem;
    /* font-weight: 500; */
    margin-top: 0;
    /* text-align: center; */
}

main .page-section .container-content{
    font-size: 1.50rem;
    font-size: calc(1.4rem + 0.18vw);
    line-height: 1.5 !important;
    color: #ccc;
    height: auto;
    font-weight: 300;
}

main #about-gh.page-section .container-element:first-child{
    width: 40% !important;
}

main .department-wrapper .department-container:nth-child(2){
    margin: 0 6rem;
}

main .page-section .news-container{
    flex-wrap: wrap;
}

main .page-section .news-container .facil-wrapper{
    margin: 0.75rem 1.5rem;
    width: calc(50% - 3rem);
    align-items: flex-start;
    padding: 1.5rem 1rem;
}

/* main .page-section .news-container .facil-wrapper{
    padding: 1.5rem 1rem;
} */

main .page-section .news-container .facil-name{
    font-size: 2rem;
    font-weight: 600;
}

main .page-section .news-container img.facil-preview{
    margin-right: 3rem;
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    min-width: 15rem;
    min-height: 15rem;
}

main .page-section .news-container .facil-wrapper .facil-description-label{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

main .page-section .news-container .facil-wrapper .description-content{
    font-size: 1.5rem;
    --clamp-line-height: 1.5 !important;
    line-height: 1.5 !important;
    color: #cdcdcd;
    font-weight: 300;
    /* text-decoration: underline; */
}

main .page-section .awards-container {
    flex-wrap: wrap;
}

main .page-section .awards-wrapper{
    margin: 1rem;
    overflow: hidden;
    border: 1px solid #111;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 2rem);
    transition: all 0.25s linear;
    justify-content: space-between;
}

main .page-section .awards-wrapper:hover{
    border: 1px solid #222;
}

main .page-section .awards-wrapper .awards-cap{
    background-color: #202020;
    font-size: 1.20rem;
    font-size: calc(1.2rem + 0.14vw);
    padding-right: 2rem;
    height: 100%;
}

main .page-section .awards-wrapper .awards-cap > *:last-child{
    justify-content: center;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-style: italic;
    padding-left: 3rem;
    line-height: 1.8;
}

main .page-section .awards-wrapper .awards-caption{
    background-color: #101010;
    padding: 1.5rem 2rem;
    font-size: 1.20rem;
    font-size: calc(1.1rem + 0.14vw);
    color: #eee;
    border-radius: 0;
    /* min-height: 9rem; */
    /* border-top: 4px solid #222; */
    font-style: italic;
}

main .page-section .awards-wrapper .awards-preview{
    width: 15rem;
    height: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    background-color: black;
    background-image: linear-gradient(135deg, rgba(0, 255, 234, 0.1), rgba(0, 0, 0, 0.35));
    color: rgb(255, 174, 0);
    font-size: 3rem;
    border-radius: 8px;
    object-fit: cover;
    -o-object-fit: cover;
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
}

main .page-section .awards-wrapper .awards-preview i{
    transform: rotateZ(35deg);
}


footer{
    background-color: var(--page-bgcolor-v0);
}

/* For Mobile Users Only */
@media only screen and (max-width:800px){
    header{
        /* padding-bottom: 1rem; */
        border-radius: 0 0 5px 5px;
    }

    header .header-slider{
        clip-path: none;
    }

    header .header-slider .slide{
        padding: 1rem 2rem 6rem;
    }

    header .header-slider .slide > *{
        max-width: calc(100% - 8rem);
    }

    header .header-slider .slide h2{
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3 !important;
        margin: 2rem 0 0.5rem ;
    }

    header .slider-control{
        bottom: 3rem;
        padding: 1rem 1.8rem;
    }

    main .page-section.section-one{
        flex-wrap: wrap;
        justify-content: center;
        background-size: 100%;
        padding: 0;
        /* background-color: red; */
    }

    main .page-section .container-heading::after{
        width: 2.5rem;
    }

    main .page-section .container-heading + a{
        font-size: 1.15rem;
    }

    main .page-section .container-button{
        margin-right: 0;
    }

    main .page-section .container-element{
        padding: 3rem;
    }
    
    main .page-section.section-one .container-element{
        margin: 0;
        /* margin-top: 1rem; */
        width: 100%;
        min-height: 300px;
        padding: 4rem;
        border-radius: 0;
        position: relative;
        justify-content: center;
    }

    main #about-gh.page-section .container-element:first-child{
        width: 100% !important;
    }

    main #about-gh.page-section .container-element:not(:first-child){
        margin: 0.8rem 0.2rem;
        padding-left: 6%;
        padding-right: 6%;
        width: calc(50% - 0.4rem) !important;
    }

    main #about-gh.page-section .container-button{
        font-size: 1rem;
    }

    main .page-section.section-one .container-element:last-child{
        margin-bottom: 0;
    }

    main .page-section.section-one .container-content{
        font-size: 1.15rem;
    }

    main .department-wrapper{
        flex-wrap: wrap;
    }

    main .department-wrapper .department-container{
        padding: 3rem;
        background-color: var(--page-bgcolor-v2);
    }

    main .department-wrapper .department-container:nth-child(2){
        margin: 3rem 0;
    }

    main #departments.page-section .department-wrapper h3{
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0;
        /* text-align: center; */
    }

    main .page-section .department-wrapper .container-button{
        font-size: 1.1rem;
        padding: 1rem;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    main .page-section .news-container .facil-name{
        font-size: 1.6rem;
        line-height: 1.3;
    }

    main .page-section .news-container .facil-wrapper{
        margin: 1rem 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    main .page-section .news-container img.facil-preview{
        width: 12rem;
        height: 12rem;
        min-width: 12rem;
        min-height: 12rem;
        margin-right: 2rem;
    }
    
    main .page-section .awards-container .awards-wrapper{
        margin: 1rem 0;
        width: 100%;
    }

    main .page-section .awards-wrapper .awards-preview{
        width: 15rem;
        min-width: 15rem;
        min-height: 15rem;
    }
}

@media only screen and (max-width:400px){
    main .page-section .container-button{
        width: 100% !important;
        max-width: unset !important;
    }

    main .page-section .news-container .facil-wrapper{
        flex-direction: column;
    }

    main .page-section .news-container img.facil-preview{
        width: 100%;
        height: 13rem;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    main .page-section .awards-wrapper .awards-cap{
        flex-wrap: wrap;
        padding: 0;
    }

    main .page-section .awards-wrapper .awards-cap > *:last-child{
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 7vw;
        padding-left: 7vw;
    }

    main .page-section .awards-wrapper .awards-preview{
        width: 100%;
    }
}