*{
    box-sizing: border-box; 
    line-height: 1.5;
    font-size: 1.5rem;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html{
    --main-color-code: #fc3434;
    --secondary-color-code: #ffff40;
    --highlight-color-code: #fcff41;
    --link-color-code: #1ecbff;
    --page-bgcolor-v0: #080808;
    --page-bgcolor-v1: #161616;
    --page-bgcolor-v2: #222222;
    --page-bgcolor-v3: rgba(0, 0, 0, 0.16);
    --page-bgcolor-v4: rgba(45, 45, 45, 0.68);
    --bright-text-color: white;
    --dark-text-color: #111;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, main{
    padding: 0;
    margin: 0;
}

body{
/* mmsbmxmbmbm */
    background-color: var(--page-bgcolor-v1);
    overflow-x: hidden;
    font-family: 'Poppins', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: white;
}

img{
    display: block;
}

a:link, a:visited{
    text-decoration: none;
    color: var(--link-color-code);
}

header{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--main-color-code);
    padding: 0; margin: 0;
    margin-bottom: 1rem;
}

header a:link{
    text-decoration: none;
    font-size: 1.4rem;
}

header h1{
    font-size: 3vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    margin: 0;
}

header h2{
    text-transform: uppercase;
    margin: 0.5rem 0;
}

header .top-wrapper{
    justify-content: space-between;
    padding: 0;
}

header .header-label{
    align-items: center;
    min-height: 5rem;
    height: 100%;
    color: var(--dark-text-color);
    background-color: var(--secondary-color-code);
    border-radius: 0 5vh 5vh 0;
    font-size: 2rem;
    font-size: calc(1.2rem + 0.3vw);
    font-weight: 500;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 35%;
    max-width: 300px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
}

header .top-wrapper nav{
    align-items: center;
    font-size: 1.2rem;
    font-size: calc(0.9rem + 0.25vw);
}

header .top-wrapper nav a{
    text-align: center;
    text-transform: uppercase;
    color: var(--bright-text-color);
    /* width: calc(65vw / 7); */
}

header .top-wrapper nav .trigger-content{
    display: none;
    position: absolute;
    top: 6.6rem;
    z-index: +200;
    background-color: rgba(20, 45, 27, 0.68);
    width: calc(65vw / 4);
    left: 0;
}

header .top-wrapper nav .trigger-content a{
    text-align: left;
    padding: 2rem 3rem;
    color: var(--bright-text-color);
    border-bottom: 1px solid rgba(20, 20, 20, 0.06);
}

header .top-wrapper nav > *{
    position: relative;
    height: 100%;
    border: none;
    border-left: 1px solid rgba(40, 40, 40, 0.05);
    background-color: transparent;
    padding: 0 2rem;
    width: calc(65vw / 7);
    outline: none;
}

header .top-wrapper nav > *:hover, header .top-wrapper nav .trigger-content a:hover{
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.045);
}

header .top-wrapper nav .trigger-content a:hover{
    background-color: rgba(10, 10, 10, 0.4);
}

header .top-wrapper nav > *:hover .trigger-content{
    display: flex;
    flex-direction: column;
}

header .logo-wrapper{
    margin-right: 3%;
    /* border: 1px solid red; */
}

header .logo{
    min-width: unset;
    min-height: unset;
    width: 5rem;
}

header .logo-text{
    color: var(--dark-text-color) !important;
}

header nav.mobile-menu{
    position: fixed;
    z-index: +999;
    width: 100%;
    background-color: rgba(3, 6, 3, 0.98);
    top: 0;
    height: 100vh;
    padding: 2rem 4rem;
    transition: all 0.3s ease-out;
    clip-path: circle(0 at 92.5% 32px);
    overflow-y: auto;
}

header nav.mobile-menu *{
    opacity: 0;
    transition: opacity 0.4s ease 0.15s;
}

header nav.mobile-menu.open{
    clip-path: circle(145% at 100% 0);
}

header nav.mobile-menu.open *{
    opacity: 1;
    color: white !important;
    font-size: 1.5rem;
    text-transform: uppercase;
}

header nav.mobile-menu #close-mobile-menu{
    color: var(--main-color-code) !important;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: auto;
}

header nav.mobile-menu #close-mobile-menu:hover{
    background-color: rgba(255, 255, 255, 0.322);
}

header nav.mobile-menu > div{
    width: 100%;
    text-align: left;
    /* background-color: red; */
}

header nav.mobile-menu a{
    padding: 1rem 0.5rem;
    transition: transform 0.2s ease;
}

header nav.mobile-menu a:hover{
    background-color: #303030;
    transform: scale(1.03);
}

header nav.mobile-menu > div > a{
    font-weight: 500;
    /* margin-bottom: 0.4rem; */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #202020;
}

header nav.mobile-menu .m-trigger-content > a{
    font-weight: 400;
    font-size: 1.1rem;
    color: #bbb !important;
    padding: 0.2rem 0.8rem;
}

header .header-slider, header .header-slider .slide{
    min-height: 350px;
    height: calc(0.34 * 100vw);
}

header .header-slider{
    position: relative;
    width: 100%;
    background-color: black;
    /* clip-path: url(#shapeZero); */
}

header .header-slider .slide{
    position: absolute;
    opacity: 0;
    font-size: 1.2rem;
    padding: 1rem 2rem 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("./assets/images/pexels-kaique-rocha-65438.jpg");
    transition: opacity 1s ease;
    justify-content: flex-end;
    align-items: flex-start;
}

header .header-slider .slide.active{
    opacity: 1;
}

header .header-slider .slide h2{
    text-transform: capitalize;
    font-size: 3.1rem;
    font-weight: 600;
    margin: 1rem 0 0;
}

header .header-slider .slide > *{
    max-width: 85%;
    text-align: left;
    margin-left: auto !important;
    margin-right: auto !important;
}

header .slider-control{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    bottom: 7rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 5vh;
    align-items: center;
}

header .slider-control .slider-nav{
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 2px;
    border: 1px solid #eee;
    background-color: transparent;
    margin: 0 0.4rem;
    transition: all 0.3s ease;
}

header .slider-control .slider-nav.active{
    /* width: 1rem; */
    height: 0.4rem;
    border-radius: 5vh;
    border: 1px solid var(--secondary-color-code);
    background-color: var(--secondary-color-code);
}

.logo, .imglink{
    margin: 0.5rem 2%;
    min-width: 9rem;
    min-height: 9rem;
    object-fit: contain;
    width: 200px; /* For older browsers */
    width: 15vw; /* For newer browsers */
    height: auto;
}

main .notice{
    display: block;
    max-width: 70%;
    background-color: rgba(0, 128, 0, 0.85) !important;
    padding: 1rem 2.5rem;
    margin: 0 15%; /* For older browsers */
    margin: auto; /* For new browsers */
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border-radius: 3px;
}

main .notice a:link, main .notice a:visited{
    text-decoration: underline;
    font-weight: 500;
    color: orange;
}

.logo{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

.icon{
    color: white;
}

.btn{
    display: block;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.btn:hover, a:link:hover{
    cursor: pointer;
}

.strip-btn{
    border: none;
    background-color: transparent;
}

.grid{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

.rows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}

.lg-5{
    width: 5%;
}

.lg-10{
    width: 10%;
}

.lg-15{
    width: 15%;
}

.lg-20{
    width: 20%;
}

.lg-25{
    width: 25%;
}

.lg-30{
    width: 30%;
}

.lg-35{
    width: 35%;
}

.lg-40{
    width: 40%;
}

.lg-50{
    width: 50%;
}

.lg-55{
    width: 55%;
}

.lg-60{
    width: 60%;
}

.lg-65{
    width: 65%;
}

.lg-70{
    width: 70%;
}

.lg-80{
    width: 80%;
}

.lg-90{
    width: 90%;
}

.lg-100{
    width: 100%;
}

main .page-section{
    position: relative;
    padding: 1rem;
}

main .page-section.section-bg{
    background-color: var(--page-bgcolor-v3);
}

main .page-section .container-heading{
    line-height: 1.9 !important;
    position: relative;
    padding: 0;
    color: var(--bright-text-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 1.8rem;
    text-align: left;
}

main .page-section .container-element{
    padding: 2rem 3rem;
    width: 100%;
}

main .page-section .container-heading::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 0;
    border: 1px solid var(--secondary-color-code);
    border-radius: 5px;
    left: 0;
    top: 2.6rem;
}

main .page-section .container-element *.section-head{
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

main .page-section .container-button{
    background-color: var(--main-color-code);
    color: var(--bright-text-color);
    padding: 1.1rem 2rem;
    max-width: 250px;
    margin-left: 0;
    border: none;
    border-radius: 2px;
    margin-top: 3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

main .page-section .container-button:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}


footer{
    /* border: 1px solid; */
    width: 100%;
    min-width: 300px;
    min-height: 10rem;
    margin: 0 auto;
    padding: 4rem;
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: black;
}

footer .top{
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top > *{
    margin: 1rem 2rem 2rem;
}

footer .bottom{
    justify-content: center;
    align-items: center;
}

footer .footer-logo{
    width: 20rem;
    height: auto;
}

footer a:link{
    display: block;
    margin: 0.5rem 1rem;
    text-decoration: none;
}

footer a:link, footer a:visited{
    color: #888;
}

footer strong{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.lazy-loading{
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
}

/* For PC Users Only */
@media only screen and (min-width:801px){
    .hide-on-pc{
        display: none !important;
    }
}

/* For Mobile Users Only */
@media only screen and (max-width:800px){
    .hide-on-mobile{
        display: none !important;
    }

    header{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));
        background-color: var(--main-color-code);
        padding-bottom: 0;
        margin-bottom: 1.5rem;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    }

    header img{
        display: none;
    }

    header .header-label{
        height: 7rem;
        font-size: 2rem;
        font-size: calc(1.4rem + 0.6vw);
        font-weight: 700;
        width: 80%;
        padding-left: 2.5rem;
        box-shadow: none;
        max-width: unset;
        color: var(--bright-text-color);
        background-color: transparent;
    }

    header .logo-text{
        color: var(--bright-text-color) !important;
    }

    header .top-wrapper nav{
        width: 15%;
        min-width: 8rem;
    }

    header .top-wrapper nav > *{
        width: 100%;
        color: var(--bright-text-color);
    }

    main .notice{
        max-width: 95%;
    }

    main .page-section .container-element{
        padding: 2rem;
        width: 100%;
    }

    main .page-section .container-heading::after{
        width: 2.5rem;
    }

    footer{
        padding: 2rem 3.5rem;
    }

    footer .top{
        flex-direction: column;
        align-items: center;
    }

    footer .footer-logo{
        width: 15rem;
        height: auto;
    }    

    footer .top *{
        text-align: center;
        align-items: center;
    }

    footer ul{
        list-style-type: none;
        padding: 0;
    }

    footer strong{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    footer .top .social-label{
        font-weight: 400;
        text-transform: uppercase;
    }

    footer .top .social-icons .icon i{
        font-size: 1.7rem;
    }

    footer .bottom{
        margin-top: 3rem;
    }
}


@-webkit-keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: -webkit-linear-gradient(#999, #999);
        background-image: linear-gradient(#999, #999);
    }

    15%{
        background-image: -webkit-linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
        background-image: linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
    }

    30%{
        background-image: -webkit-linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
        background-image: linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
    }

    55%{
        background-image: -webkit-linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
        background-image: linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
    }
}

@-moz-keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: -webkit-linear-gradient(#999, #999);
        background-image: linear-gradient(#999, #999);
    }

    15%{
        background-image: -webkit-linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
        background-image: linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
    }

    30%{
        background-image: -webkit-linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
        background-image: linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
    }

    55%{
        background-image: -webkit-linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
        background-image: linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
    }
}

@keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: -webkit-linear-gradient(#999, #999);
        background-image: linear-gradient(#999, #999);
    }

    15%{
        background-image: -webkit-linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
        background-image: linear-gradient(135deg, #999 6%,  #888 25%, #999 44%);
    }

    30%{
        background-image: -webkit-linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
        background-image: linear-gradient(135deg, #999 31%,  #888 50%, #999 69%);
    }

    55%{
        background-image: -webkit-linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
        background-image: linear-gradient(135deg, #999 56%,  #888 75%, #999 94%);
    }
}
